/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f10303;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
#hero {
    text-align: center;
    padding: 50px;
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
}
html {
    scroll-behavior: smooth;
}

.dark-mode {
    background-color: #333;
    color: #afcca2;
}

.project {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 5s ease, transform 5s ease;
}

.project.visible {
    opacity: 5;
    transform: translateY(0);
}

selector {
    background-image: url('image/sam.jpg');
    background-size: cover; /* Adjusts the image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}
